/**
 * Folio - Local Fonts
 * 
 * 本地字体文件，用于无法访问 Google Fonts 的地区
 * 如需使用本地字体，请下载字体文件到 assets/fonts/ 目录
 * 
 * @package Folio
 */

/* ==========================================================================
   Oswald Font Family
   下载地址: https://fonts.google.com/specimen/Oswald
   ========================================================================== */

/* 如果有本地字体文件，取消下面的注释
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
         url('../fonts/Oswald-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
         url('../fonts/Oswald-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
         url('../fonts/Oswald-Bold.woff') format('woff');
}
*/

/* ==========================================================================
   Roboto Condensed Font Family
   下载地址: https://fonts.google.com/specimen/Roboto+Condensed
   ========================================================================== */

/* 如果有本地字体文件，取消下面的注释
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Bold.woff') format('woff');
}
*/

/* ==========================================================================
   Fallback: 使用系统字体
   当本地字体文件不存在时，使用系统字体作为后备
   ========================================================================== */

/* Oswald 替代方案 - 使用系统无衬线字体 */
.font-heading,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Arial, sans-serif;
}

/* Roboto Condensed 替代方案 */
.font-body,
body {
    font-family: 'Roboto Condensed', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Arial, sans-serif;
}
